.signup {
	margin: 0 auto;
	padding-top: 55px;
	background-color: inherit;
	max-width: 358px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 540px) {
	.signup {
			max-width: 282px;
			padding: 40px 30px 20px;
	}
}